.property-list {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  &__item {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    &__img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    &__title {
      h1 {
        font-size: 18px;
        color: #444;
        text-transform: capitalize;

        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
      h2 {
        font-size: 14px;
        font-weight: 300;

        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}
