.hotel-filter {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e7e7e7;

  h2 {
    border-bottom: 1px solid #e7e7e7;
    font-size: 16px;
    color: #262626;
    padding: 8px;
  }

  &__price,
  &__distance,
  &__type,
  &__facility,
  &__room-facility {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e7e7;
    h3 {
      font-size: 14px;
      color: #262626;
    }
    padding: 8px;

    &__item {
      display: flex;
      align-items: center;
      gap: 8px;
      input {
        width: 20px;
        height: 20px;
      }
    }

    label {
      font-size: 13px;
      color: #262626;
    }
  }

  &__price {
    &__slider {
      width: 90% !important;
      height: 20px;
      margin: 0 auto;
      span {
        font-size: 12px;
        font-family: inherit;
      }
    }
  }
}
