.reservation {
  background-color: #f4f4f4;
  &__container {
    max-width: 1024px;
    margin: 20px auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 768px) {
      padding: 0 10px;
      padding-right: 10px;
    }
  }
}
