.reservation-list-item {
  h2 {
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
    @media screen and (max-width: 480px) {
      font-size: 18px;
    }
  }
  span {
    display: block;
    margin-bottom: 20px;
    @media screen and (max-width: 480px) {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &__container {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(211, 211, 211, 0.5);
    border-radius: 2px;
    padding: 24px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    cursor: pointer;
    @media screen and (max-width: 480px) {
      gap: 10px;
      padding: 12px;
    }

    &:hover {
      box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 3px;
      @media screen and (max-width: 480px) {
        width: 60px;
        height: 60px;
      }
    }

    &__description {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;

      &__name {
        color: rgba(38, 38, 38, 0.8);
        font-weight: 700;
        @media screen and (max-width: 480px) {
          font-size: 14px;
        }
      }

      &__time {
        font-size: 14px;
        color: rgba(38, 38, 38, 0.7);
        @media screen and (max-width: 480px) {
          font-size: 12px;
        }
      }

      &__status {
        font-size: 14px;
        color: rgba(38, 38, 38, 0.7);
        @media screen and (max-width: 480px) {
          font-size: 14px;
        }
      }
    }

    &__price {
      width: 130px;
      color: rgba(38, 38, 38, 0.8);
      font-size: 20px;
      font-weight: 700;
      @media screen and (max-width: 480px) {
        font-size: 18px;
      }
    }
  }
}
