.search-item {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;

    a {
      text-decoration: none;
    }
    &__title {
      font-size: 20px;
      color: #0071c2;
      &:hover {
        color: #275191;
      }
    }
    &__distance {
      font-size: 12px;
    }
    &__taxi-option {
      font-size: 12px;
      background-color: #008009;
      color: white;
      width: max-content;
      padding: 3px;
      border-radius: 5px;
    }
    &__subtitle {
      font-size: 12px;
      font-weight: bold;
    }
    &__feature {
      font-size: 12px;
    }
    &__cancel-option {
      font-size: 12px;
      color: #008009;
      font-weight: bold;
    }
    &__cancel-option-subtitle {
      font-size: 12px;
      color: #008009;
    }
  }

  &__detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__rating {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      align-items: center;

      span {
        font-weight: 500;
      }

      button {
        background-color: #003580;
        color: white;
        padding: 8px;
        font-weight: bold;
        border: none;
        border-radius: 6px 6px 6px 0;
      }
    }

    &__text {
      text-align: right;
      display: flex;
      flex-direction: column;
      gap: 5px;

      &__price {
        font-size: 20px;
        font-weight: 500;
      }

      &__tax-option {
        font-size: 12px;
        color: gray;
      }

      &__check-btn {
        background-color: #0071c2;
        color: whitesmoke;
        font-weight: bold;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        border-radius: 2px;
      }
    }
  }
}
