.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;

  &__item {
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;

    @media screen and (max-width: 1024px) {
      height: 220px;
    }

    @media screen and (max-width: 768px) {
      height: 150px;
    }

    &__img {
      width: 100%;
      object-fit: cover;
    }

    &__title {
      position: absolute;
      bottom: 20px;
      left: 20px;

      @media screen and (max-width: 1024px) {
        font-size: 14px;
      }

      @media screen and (max-width: 768px) {
        font-size: 10px;
      }
    }
  }
}
