.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;

    &__list {
      display: flex;
      gap: 40px;
      margin-bottom: 50px;

      &__item {
        display: flex;
        align-items: center;
        gap: 10px;

        &.active {
            border: 1px solid white;
            padding: 10px;
            border-radius: 20px;
        }
      }
    }

    &__description {
        margin: 20px 0px;
    }

    &__btn {
        background-color: #0071c2;
        color: white;
        font-weight: 500;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
  }
}
