.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
  padding: 10px;

  &__container {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      padding: 0 50px;
    }

    &__logo {
      font-weight: bold;
      font-size: 24px;
    }

    &__items__btn {
      font-weight: 600;
      margin-left: 10px;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
      color: #0071c2;
    }
  }
}
