.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* overflow-x: auto; */
}

.listWrapper {
  width: 100%;
  max-width: 1140px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 2;
  background-color: #febb02;
  padding: 16px;
  border-radius: 3px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.lsItem {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem > label {
  font-size: 12px;
}

.lsItem > .lsDestination {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px 8px;
  gap: 8px;
}

.lsItem > div > input {
  height: 30px;
  border: none;
  font-size: 14px;
}

.lsItem > div > input:focus {
  border: none;
  outline: none;
}

.lsItem > span {
  height: 30px;
  padding: 5px 8px;
  background-color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions {
  padding: 10px;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput {
  border: none;
  width: 50px;
}

.listSearch > button {
  padding: 15px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 7;
}

.listResult > h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .listContainer {
    padding: 0 20px;
  }
}
