.header {
  &__container {
    &__search {
      &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        background-color: #fff;
        height: 30px;
        padding: 5px;
        margin-bottom: 15px;

        &__text {
          font-size: 14px;
          color: black;
          cursor: pointer;
        }

        &__icon {
          color: black;
        }

        &__options {
          position: absolute;
          top: 30px;
          background-color: white;
          color: gray;
          border-radius: 5px;
          box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
          z-index: 2;

          &__item {
            width: 200px;
            display: flex;
            justify-content: space-between;
            margin: 10px;

            &__counter-container {
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 12px;
              color: black;
            }

            &__counter-btn {
              width: 30px;
              height: 30px;
              border: 1px solid #0071c2;
              color: #0071c2;
              cursor: pointer;
              background-color: white;

              &:disabled {
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
  }
}

// .lsItem {
//   display: flex;
//   flex-direction: column;
//   gap: 5px;
//   margin-bottom: 10px;
// }
// .lsOptions {
//   padding: 10px;
// }
