.footer {
  width: 100%;
  max-width: 1140px;
  font-size: 12px;
  margin: 0 auto;

  &__lists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__list {
    list-style: none;
    padding: 0;

    &__item {
      margin-bottom: 10px;
      color: #003580;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        font-size: 10px;
      }
    }
  }
}
